PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/safetrack?retryWrites=true&w=majority

# JWT
JWT_SECRET=change_me_to_64_char_random_hex
JWT_EXPIRES_IN=7d

# Client URL (for CORS)
CLIENT_URL=http://localhost:3000

# Interswitch Webpay
# Get your own credentials from: Quickteller Business portal → Developer Tools
# Sandbox base URL: https://newwebpay.qa.interswitchng.com
# Live base URL:    https://newwebpay.interswitchng.com
INTERSWITCH_PRODUCT_ID=your_product_id
INTERSWITCH_PAY_ITEM_ID=your_pay_item_id
INTERSWITCH_MAC_KEY=your_mac_key
INTERSWITCH_BASE_URL=https://newwebpay.qa.interswitchng.com
PAYMENT_CALLBACK_URL=http://localhost:3000/confirmation

# Termii SMS
TERMII_API_KEY=your_termii_api_key
TERMII_SENDER_ID=SafeTrack
TERMII_BASE_URL=https://api.ng.termii.com/api

# Claude AI
ANTHROPIC_API_KEY=sk-ant-your_key_here
CLAUDE_MODEL=claude-haiku-4-5-20251001

# App
APP_BASE_URL=http://localhost:5000
